{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>
    <form>
        <label for="search-title"> Title :
            <input id="search-title" type="text" name="title" value="{{ filters['title'] ?? '' }}">
        </label>
        <label for="search-description"> Description :
            <input id="search-description" type="text" name="description" value="{{ filters['description'] ?? '' }}">
        </label>
        <label for="search-minStartDate"> Min start date :
            <input id="search-minStartDate" type="date" name="minStartDate" value="{{ filters['minStartDate'] ?? '' }}">
        </label>
        <label for="search-maxStartDate"> Max start date :
            <input id="search-maxStartDate" type="date" name="maxStartDate" value="{{ filters['maxStartDate'] ?? '' }}">
        </label>
        <label for="search-maxParticipants"> Max Participants :
            <input id="search-maxParticipants" type="text" name="maxParticipants" value="{{ filters['maxParticipants'] ?? '' }}">
        </label>
        <label for="search-isPublic"> Public :
            <select id="search-isPublic" name="isPublic">
                <option value="" {{ filters['isPublic'] ?: 'selected' }}>Select a value</option>
                <option value="Yes" {{ filters['isPublic'] is same as 'Yes' ? 'selected' }}>Yes</option>
                <option value="No" {{ filters['isPublic'] is same as 'No' ? 'selected' }}>No</option>
            </select>
        </label>
        <label for="search-creator"> Creator :
            <select id="search-creator" name="creator">
                <option value="" {{ filters['creator'] ?: 'selected' }}>Select a creator</option>
                {% for creator in creators %}
                    <option value="{{ creator.id }}" {{ filters['creator'] != creator.id ?: 'selected' }}>{{ creator.nom }} {{ creator.prenom }}</option>
                {% endfor %}
            </select>
        </label>
        <button type="submit" id="button-submit" class="btn">search</button>
    </form>
    <a href="{{ path('app_event_index') }}"><button type="button" class="btn">reset</button></a>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>StartDate</th>
            <th>Participants</th>
            <th>IsPublic</th>
            <th>Creator</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            {% if event.isPublic or app.user %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.title }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.startDate ? event.startDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ event.participants|length }}/{{ event.maxParticipants }}</td>
                    <td>{{ event.isPublic ? 'Yes' : 'No' }}</td>
                    <td>{{ event.creator.nom }} {{ event.creator.prenom }}</td>
                    <td>
                        <a href="{{ path('app_event_show', {'id': event.id}) }}">show</a>
                        <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_new') }}">Create new</a>
{% endblock %}
