{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ event.startDate ? event.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Participants</th>
                <td>{{ event.participants | length }} / {{ event.maxParticipants }}</td>
            </tr>
            <tr>
                <th>Public</th>
                <td>{{ event.isPublic ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    {% if app.user and userInscrit %}
        <a href="{{ path('app_event_unregister', {'id': event.id}) }}">Se désinscrire</a>
    {% elseif app.user and not (event.participants | length >= event.maxParticipants) %}
        <a href="{{ path('app_event_register', {'id': event.id}) }}">S'inscrire</a>
    {% endif %}

    <a href="{{ path('app_event_index') }}">Retour</a>

    <a href="{{ path('app_event_edit', {'id': event.id}) }}">Editer</a>
    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
