{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h3>Profil : </h3>
    <p>Nom : {{ user.nom }}</p>
    <p>Prenom : {{ user.prenom }}</p>
    <p>Email : {{ user.email }}</p>
    <a href="{{ path('app_edit_profile') }}">Edition</a>
    <a href="{{ path('app_logout') }}">Déconnection</a>
{% endblock %}
